<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main-layout}">

<head>
	<title>Home 1</title>
</head>

<body>

<div layout:fragment="content">

	<div class="main-header clearfix">
		<div class="page-title">
			<h3 class="no-margin">Dashboard</h3>
			<span>Welcome [[${session.authenticated_user.userInfo.first_name}]]...</span> </span>
		</div>
		<!-- /page-title -->
	</div>
	<!-- /main-header -->

	<div class="grey-container shortcut-wrapper">
		<a href="index.php#" class="shortcut-link">
					<span class="shortcut-icon">
						<img th:src="@{/img/images/32x32/reports.png}" />
					</span>
			<span class="text">Statistic</span>
		</a>
		<a href="index.php#" class="shortcut-link">
					<span class="shortcut-icon">
						<img th:src="@{/img/images/32x32/certificate.png}" />
					</span>
			<span class="text">Qualifications</span>
		</a>
		<a href="index.php#" class="shortcut-link">
					<span class="shortcut-icon">
						<img th:src="@{/img/images/32x32/profile.png}" />
					</span>
			<span class="text">Profile</span>
		</a>
		<a href="index.php#" class="shortcut-link">
					<span class="shortcut-icon">
						<img th:src="@{/img/images/32x32/lock.png}" />
					</span>
			<span class="text">Password</span>
		</a>
	</div><!-- /grey-container -->

	<div class="grey-container" th:if="${session.authenticated_user.hasRole('ATTENDANCE_REGISTERER')}">
		<a th:href="@{attendance_keeper}" class="btn btn-danger quick-btn"><i class="fa fa-table"></i><span>Attendance</span></a>
	</div>
	<!-- /grey-container -->

	<div class="padding-md" th:if="${session.authenticated_user.hasRole('ADMIN')}">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="pull-right">
							<span class="clickable"><i class="fa fa-search"></i></span>
							<span class="clickable"><i class="fa fa-wrench"></i></span>
							<span class="clickable"> <i class="fa fa-chevron-down"></i> </span>
						</div>
						<h4 class="panel-title">Admin Options</h4>
					</div>
					<div class="panel-body">

						<div class="text-center">
							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/users.png}" />
											</span>
										<span class="text">Members</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a th:href="@{/admin/continents}" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/locale.png}" />
											</span>
										<span class="text">Continents</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/note.png}" />
												<span class="shortcut-alert"> 5 </span>
											</span>
										<span class="text">Notifications</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/keys.png}" />
											</span>
										<span class="text">Accounts</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/notifications.png}" />
												<span class="shortcut-alert"> 7 </span>
											</span>
										<span class="text">Notification</span>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/note.png}" />
											</span>
										<span class="text">Activity</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/enterprise.png}" />
											</span>
										<span class="text">Churches</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/courses.png}" />
											</span>
										<span class="text">Courses</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/tests.png}" />
											</span>
										<span class="text">Attendance</span>
									</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/graduation.png}" />
											</span>
										<span class="text">Campuses</span>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a href="index.php#" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/options.png}" />
											</span>
										<span class="text">Setting</span>
									</a>
								</div>

								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
									<a th:href="@{/admin/continents}" class="shortcut-link">
											<span class="shortcut-icon">
												<img th:src="@{/img/images/32x32/social.png}" />
											</span>
										<span class="text">Countries</span>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div><!-- /panel -->
			</div>

			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<div class="pull-right">
							<span class="clickable"><i class="fa fa-search"></i></span>
							<span class="clickable"><i class="fa fa-wrench"></i></span>
							<span class="clickable"> <i class="fa fa-chevron-down"></i> </span>
						</div>
						<h4 class="panel-title">Announcements</h4>
					</div>
					<div class="panel-body">
						No announcements posted yet.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.padding-md -->
	<div class="col-lg-12 col-md-12">
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			This is just the initial design of the app
		</div>
	</div>
</div>

</div>

</body>
</html>